//手机移动响应
@mixin device-size($size){
  $device-size-list:$size,640px,600px,435px,414px,413px,412px,411px,400px,385px,384px,375px,360px,320px;
  @each $i in $device-size-list{
    @media screen and(max-width:#{$i}) {
      html{
        font-size: 100px*$i/$size;
      }
    }
  }
}

//全屏
@mixin fullScreen{
  position:fixed;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  margin:auto;
}
//定位+移动居中 （IE兼容9以下不支持）
@mixin middle(){
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
}
//flex布局居中  pc端IE10以上支持、 手机端兼容
@mixin flexMiddle(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
//固定宽高居中方法
@mixin center($width,$height){
  width: $width;
  height: $height;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($height) / 2;
  margin-left: -($width) / 2;
}

//正方形
@mixin rect($size){
  width: $size;
  height: $size;
}
@mixin rectBg($w,$h,$bg){
  width: $w;
  height: $h;
  background: $bg;
}
//圆
@mixin circle($size){
  width: $size;
  height: $size;
  @include borderRadius($size/2);
}

//背景图片-尺寸100% /
@mixin bgImg($w,$h,$url){
  width:$w;
  height:$h;
  background: url($url) center center no-repeat;
  background-size: 100% 100%;
}


//按钮基础样式
@mixin btn($w,$h,$bg){
  width:$w;
  height:$h;
  background:$bg;
  text-align: center;
  line-height: $h;
  font-weight: bold;
  color: #fff;
  @include borderRadius($h/2);
  box-sizing: border-box;
}

//三角形
@mixin triangle($w,$h,$borderColor){
  display: block;
  width:0;
  height:0;
  border-left:$w/2 solid $borderColor;
  border-right:$w/2 solid $borderColor;
  border-top:$h/2 solid $borderColor;
  border-bottom:$h/2 solid $borderColor;
}

//1px边框
@mixin border-1px($color){
  position:relative;
  &:after{
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    border-top:1px solid $color;
    content:'';
    @media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
      &{
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7);
      }
    }
    @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
      &{
        -webkit-transform: scaleY(0.5);
        transform:scaleY(0.5);
      }
    }
  }


//*************************************************兼容***************************************************
//圆角兼容
@mixin borderRadius($r){
  border-radius: $r;
  -webkit-border-radius: $r;
  -moz-border-radius:$r;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

